@import "tailwindcss";

@theme {
    --color-pumpink: #FE7F2D;
    --color-crimson: #D7263D;
    --color-charcoal: #2B323F;
    --color-whiteSmoke: #F7F4F3;
    --color-grayBlue: #2B323F;
    --color-charcoal: #2B323F;
    --color-nights: #02182B;
}


@layer components {
    .btn {
        @apply flex gap-2 justify-center items-center w-full cursor-pointer ;
        @apply p-3 rounded-xl text-whiteSmoke font-bold;
        @apply transition-all duration-150;
    };

    .btn-primary {
        @apply  hover:shadow-lg active:scale-95 active:shadow-sm;
        @apply disabled:bg-pumpink/60 bg-pumpink 
    };

    .btn-secundary {
        @apply hover:bg-zinc-500/60 hover:text-white px-4;
    };


    .inpt {
        @apply w-full flex gap-2 items-center p-2.5 rounded-xl;
        @apply ring ring-grayBlue/20 font-normal bg-whiteSmoke;
        @apply transition-all duration-200;
    };

    .inpt-primary {
        @apply focus-within:ring-pumpink focus-within:bg-pumpink/5 focus-within:shadow-lg focus-within:scale-[1.01];
    };

};
